<extend name="Base/common"/>
	
<block name="srciptx">
</block>
	
<block name="script">
    <script type="text/javascript">	  		
    $(function () {
		//document.write({$totalgoods[3]['goodsid']});
		var withdrawtobeverify = <?php echo json_encode($withdrawtobeverify)?>;	//待审核
		var withdrawverifyed = <?php echo json_encode($withdrawverifyed)?>;	//已审核
		//console.trace(datafromcontroller.length);
		var countofwithdrawtobeverify = withdrawtobeverify.length;
		var countofwithdrawverifyed = withdrawverifyed.length;
		var data0 = new Array(countofwithdrawtobeverify);
		var data1 = new Array(countofwithdrawverifyed);
		var statusStr = ['待审核','审核通过','审核不通过'];		
		
		var withdrawbyday = <?php echo json_encode($withdrawbyday)?>;	//
		var data2 = new Array(withdrawbyday.length);
		for(i = 0; i < withdrawbyday.length; ++i)
		{
			data2[i] = new Array();
			data2[i][0] = withdrawbyday[i].datetime;
			data2[i][1] = withdrawbyday[i].count;
			data2[i][2] = parseFloat(withdrawbyday[i].summoney);
		}
		
		//填充待审核表数据
		for(i = 0 ; i < countofwithdrawtobeverify; ++i)
		{
			var newDate = new Date();
			data0[i] = new Array();			
			newDate.setTime(withdrawtobeverify[i].applytime*1000);
			data0[i][0] = withdrawtobeverify[i].buyerid;
			data0[i][1] = newDate.format('yyyy-MM-dd hh:mm:ss');
			data0[i][2] = withdrawtobeverify[i].sharecount;
			data0[i][3] = withdrawtobeverify[i].money;
			data0[i][4] = statusStr[withdrawtobeverify[i].status];
		}
		
		//填充已审核表数据
		for(i = 0 ; i < countofwithdrawverifyed; ++i)
		{
			var newDate = new Date();
			data1[i] = new Array();			
			newDate.setTime(withdrawverifyed[i].applytime*1000);
			data1[i][0] = withdrawverifyed[i].buyerid;
			data1[i][1] = newDate.format('yyyy-MM-dd hh:mm:ss');
			data1[i][2] = withdrawverifyed[i].money;
			newDate.setTime(withdrawverifyed[i].approvaltime*1000);			
			data1[i][3] = newDate.format('yyyy-MM-dd hh:mm:ss');
			data1[i][4] = withdrawverifyed[i].approval_id;
		}
		
        function getRowIndx() {
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                return arr[0].rowIndx;                                
            }
            else {
                alert("Select a row.");
                return null;
            }
        }
		
		var toolbar0 = {
				items:[
				{type : "button",label: '待审核', listeners: [{ click: tobeverify }], icon: 'ui-icon-flag', cls: 'ui-state-highlight'},
				{type : "button",label: '提现记录', style: 'margin:0px 5px;', listeners: [{ click: verifyed}], icon: 'ui-icon-flag', cls: 'ui-state-default'},
				{type : "button",label: '提现支出', style: 'margin:0px 5px;', listeners: [{ click: byday}], icon: 'ui-icon-flag', cls: 'ui-state-default'}                
				]
			};
		
		var toolbar1 = {
				items:[
				{type : "button",label: '待审核', listeners: [{ click: tobeverify }], icon: 'ui-icon-flag', cls: 'ui-state-default'},
				{type : "button",label: '提现记录', style: 'margin:0px 5px;', listeners: [{ click: verifyed}], icon: 'ui-icon-flag', cls: 'ui-state-highlight'},
				{type : "button",label: '提现支出', style: 'margin:0px 5px;', listeners: [{ click: byday}], icon: 'ui-icon-flag', cls: 'ui-state-default'}
				]
			};
			
		var toolbar2 = {
				items:[
				{type : "button",label: '待审核', listeners: [{ click: tobeverify }], icon: 'ui-icon-flag', cls: 'ui-state-default'},
				{type : "button",label: '提现记录', style: 'margin:0px 5px;', listeners: [{ click: verifyed}], icon: 'ui-icon-flag', cls: 'ui-state-default'},
				{type : "button",label: '提现支出', style: 'margin:0px 5px;', listeners: [{ click: byday}], icon: 'ui-icon-flag', cls: 'ui-state-highlight'}
				]
			};

        var obj = { 
			width: 1200,
			height: 600,
			title: "提现审核列表",
			resizable:false,
			draggable:false ,
            scrollModel: {
                autoFit: true
            },
            selectionModel: {
                type: 'cell'
            },
            track: true, //to turn on the track changes.
            hoverMode: 'cell',
            editModel: {
				clicksToEdit: 1, 
                saveKey: $.ui.keyCode.ENTER,
                select: false,
                keyUpDown: false,
                cellBorderWidth: 0  
            },
            editor: { type: "textbox" },
            pageModel: { type: "local", rPP: 10, rPPOptions: [10, 20, 50, 100] },
			refresh: function () {
                $("#grid_array").find("button.delete_btn").button({ icons: { primary: 'ui-icon-scissors'} })
                .unbind("click")
                .bind("click", function (evt) {
                    var $tr = $(this).closest("tr");
                    var obj = $grid.pqGrid("getRowIndx", { $tr: $tr });
                    var rowIndx = obj.rowIndx;
                    $grid.pqGrid("addClass", { rowIndx: rowIndx, cls: 'pq-row-delete' });

                    var ans = window.confirm("Are you sure to delete row No " + (rowIndx + 1) + "?");

                    if (ans) {
                        $grid.pqGrid("deleteRow", { rowIndx: rowIndx, effect: true, complete: function () {
                            $grid.pqGrid("removeClass", { rowIndx: rowIndx, cls: 'pq-row-delete' });
                        }
                        });
                    }
                    else {
                        $grid.pqGrid("removeClass", { rowIndx: rowIndx, cls: 'pq-row-delete' });
                    }
                });
            },
		};
        obj.colModel = 
		[
			{ title: "提现人", width: 100, dataType: "string" , align: "center", editable: false},
			{ title: "申请提现时间", width: 160, dataType: "string" , align: "center", editable: false},
			{ title: "成功分享人数", width: 120, dataType: "string", align: "center" , editable: false},
			{ title: "申请提现金额（￥）", width: 150, dataType: "float", align: "center", editable: false},
			{ title: "提现状态", width: 100, dataType: "string", align: "center" },
			//{ title: "操作", editable: false, minWidth: 83, sortable: false, render: function (ui) {
			//	return "<label bgcolor='#00ff00'><a href='#'>通过</a></label> <label bgcolor='#00ff00'><a href='#'>不通过</a></label>";
			//	}
			//}			
			//{ title: "", editable: false, minWidth: 83, sortable: false, render: function (ui) {
			//	return "<button type='button' class='delete_btn'>Delete</button>";}
			//}
		];
        obj.dataModel = { data: data0 };
		obj.toolbar = toolbar0;
        $grid = $("#grid_array").pqGrid(obj);
		//$( "grid_array" ).pqGrid( { toolbar: toolbar } );
        var grid = $grid.data("paramqueryPqGrid");
		
		//tobeverify
        function tobeverify() {    
			obj.title = "提现审核列表";        
			obj.colModel = [
				{ title: "提现人", width: 100, dataType: "string" , align: "center", editable: false},
				{ title: "申请提现时间", width: 160, dataType: "string" , align: "center", editable: false},
				{ title: "成功分享人数", width: 120, dataType: "string", align: "center" , editable: false},
				{ title: "申请提现金额（￥）", width: 150, dataType: "float", align: "center", editable: false},
				{ title: "提现状态", width: 100, dataType: "string", align: "center" },	
				/*{ title: "", editable: false, minWidth: 83, sortable: false, render: function (ui) {
					return "<button type='button' class='delete_btn'>Delete</button>";}
				}*/
			];
			obj.dataModel = { data: data0 };
			obj.toolbar = toolbar0;
			$("#grid_array").pqGrid("destroy");
			$grid = $("#grid_array").pqGrid(obj);
        }
		
        //verifyed
        function verifyed() {
			obj.title = "提现记录列表";
			obj.colModel = 
			[
				{ title: "提现人", width: 100, dataType: "string" , align: "center", editable: false},
				{ title: "申请提现时间", width: 160, dataType: "string" , align: "center", editable: false},
				{ title: "成功提现金额（￥）", width: 150, dataType: "float", align: "center", editable: false},
				{ title: "申请通过时间", width: 160, dataType: "string" , align: "center", editable: false},
				{ title: "审核员", width: 100, dataType: "string", align: "center" , editable: false}
			];
			
			obj.dataModel = { data: data1 };
			obj.toolbar = toolbar1;
			
			$("#grid_array").pqGrid("destroy");
			$grid = $("#grid_array").pqGrid(obj);
        }
		
        //delete Row.
        function byday() {
			obj.title = "提现支出列表";
			obj.colModel = 
			[
				{ title: "提现时间", width: 160, dataType: "string" , align: "center", editable: false},
				{ title: "提现笔数", width: 160, dataType: "int" , align: "center", editable: false},
				{ title: "提现金额（￥）", width: 150, dataType: "float", align: "center", editable: false},
			];
			
			obj.dataModel = { data: data2 };
			obj.toolbar = toolbar2;
			
			$("#grid_array").pqGrid("destroy");
			$grid = $("#grid_array").pqGrid(obj);
        }
    });   
    </script>
</block>

<block name="stylex">	
	<style type="text/css">	
	.gridcss {
	  position:absolute;
	  left:0px;
	  top:40px;
	}
	button.delete_btn
	{
		margin:-3px 0px;
	}
	tr.pq-row-delete
	{
		text-decoration:line-through;         
	}
	tr.pq-row-delete td
	{
		background-color:pink;   
	}
	</style>
</block>

<block name="side">
<!-- 左侧 nav
==================================================
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div> -->
</block>

<block name="body">   	
	<div id="grid_array" class = "gridcss" ></div>   
</block>
