<extend name="Base/common"/>

<block name="srciptx">
</block>
	
<block name="script">
    <script type="text/javascript">	  
		
    $(function () {
		//document.write({$totalgoods[3]['goodsid']});
		var totalcoupon = <?php echo json_encode($totalcoupon)?>;	//待审核
		var data0 = new Array(totalcoupon.length);
		var typeStr = ['折扣型','金额型'];
		var statusStr = ['未使用','已使用'];
						
        function getRowIndx() {
            var arr = $grid.pqGrid("selection", { type: 'row', method: 'getSelection' });
            if (arr && arr.length > 0) {
                return arr[0].rowIndx;                                
            }
            else {
                alert("Select a row.");
                return null;
            }
        }

		var ajaxObj = {
            dataType: "json",
            url: "{:U('grid')}", //for PHP
            //contentType: "application/json; charset=utf-8",//for ASP.NET
            type: "POST",
            async: true,
            beforeSend: function (jqXHR, settings) {                
                $grid.pqGrid("showLoading");
            }
        };

        //called when accept changes button is clicked.
        function acceptChanges() {
            //attempt to save editing cell.
            //debugger;
            if (grid.saveEditCell() === false) {
                return false;
            }

            var isDirty = grid.isDirty();
            if (isDirty) {
                //validate the new added rows.                
                var addList = grid.getChanges().addList;
                for (var i = 0; i < addList.length; i++) {
                    var rowData = addList[i];
                    var isValid = grid.isValid({ "rowData": rowData }).valid;
                    if (!isValid) {
                        return;
                    }
                }
                var changes = grid.getChanges({ format: "byVal" });
				//console.trace(changes);

                //post changes to server 
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    async: true,
                    beforeSend: function (jqXHR, settings) {
                        grid.showLoading();
                    },
                    //url: "/pro/products/batch", //for ASP.NET, java                                                
					url: "{:U('grid')}",
                    data: { list: JSON.stringify(changes) },
                    success: function (changes) {
                        //debugger;
                        grid.commit({ type: 'add', rows: changes.addList });
                        grid.commit({ type: 'update', rows: changes.updateList });
                        grid.commit({ type: 'delete', rows: changes.deleteList });

                    },
                    complete: function () {
                        grid.hideLoading();
                    }
                });
            }
        }
		
		var dateEditor = function (ui) {
            var $cell = ui.$cell,
                rowData = ui.rowData,
                dataIndx = ui.dataIndx,
                cls = ui.cls,
                dc = $.trim(rowData[dataIndx]);
            $cell.css('padding', '0');

            var $inp = $("<input type='text' id = 'datapickerinput' name='" + dataIndx + "' class='" + cls + " pq-date-editor' />")
            .appendTo($cell)
            .val(dc).datepicker({
				regional: "zh" ,
                changeMonth: true,
                changeYear: true,
				showButtonPanel:true,//是否显示按钮面板 
				//yearSuffix: '年', //年的后缀 
				dateFormat: 'yy-mm-dd',//日期格式
				showMonthAfterYear:true,//是否把月放在年的后面 
				//defaultDate: dc,//默认日期
				minDate:'-1Y', //最小日期 
				maxDate:"+1Y +0M +0D",//最大日期 
                onClose: function () {
                    $inp.focus();
                }
            });
            //.focus();
		}
		
        var obj = { 
			width: 1200,
			height: 600,
			title: "优惠码列表",
			resizable:false,
			draggable:false ,
            scrollModel: {
                autoFit: true
            },
            selectionModel: {
                type: 'cell'
            },
            track: true, //to turn on the track changes.
            hoverMode: 'cell',
            editModel: {
				clicksToEdit: 1, 
                saveKey: $.ui.keyCode.ENTER,
                select: false,
                keyUpDown: false,
                cellBorderWidth: 0  
            },
            editor: { type: "textbox" },
            pageModel: { type: "local", rPP: 10, rPPOptions: [10, 20, 50, 100] },
			toolbar:{
				items:[
				{type : "button",label: '新优惠码', /*style: 'margin:2px 0px;',*/ listeners: [
                        { "click": function (evt, ui) {
                            //append empty row at the end.                            
                            var rowData = { identify: generateMixed(20) , type : 0, disprice : 20, status : 0,
								discount : 90, starttime: getDateStr(0) , deadline: getDateStr(30), overprice: 100, usetime: '0000-00-00' , user: "" }; //empty row
                            var rowIndx = $grid.pqGrid("addRow", { rowData: rowData });
                            $grid.pqGrid("goToPage", { rowIndx: rowIndx });
                            $grid.pqGrid("editCell", { rowIndx: rowIndx, dataIndx: "type" });
                        }
                        }
                    ], icon: 'ui-icon-plus', cls: 'ui-state-default'},
                    { type: 'button', icon: 'ui-icon-disk', label: '提交修改', style: 'margin:0px 5px;', listeners: [
                        { "click": function (evt, ui) {
                            acceptChanges();
                        }
                        }
                    ]
                    },
                    { type: 'button', icon: 'ui-icon-cancel', label: '取消修改', listeners: [
                        { "click": function (evt, ui) {
                            $grid.pqGrid("rollback");
                        }
                        }
                    ]
                    },
                    { type: 'separator' },
                    { type: 'button', icon: 'ui-icon-cart', label: '获得修改', style: 'margin:0px 5px;', listeners: [
                        { "click": function (evt, ui) {
                            var changes = $grid.pqGrid("getChanges");
                            try {
                                console.log(changes);
                            }
                            catch (ex) { }
                            alert("Please see the log of changes in your browser console.");
                        }
                        }
                    ]
                    }
				]
			},
            //save the cell when cell loses focus.
            quitEditMode: function (evt, ui) {                
                if (evt.keyCode != $.ui.keyCode.ESCAPE && evt.keyCode != $.ui.keyCode.TAB) {
                    $grid.pqGrid("saveEditCell");
                }
            },
			refresh: function () {
                $("#grid_array").find("button.delete_btn").button({ icons: { primary: 'ui-icon-scissors'} })
                .unbind("click")
                .bind("click", function (evt) {
                    var $tr = $(this).closest("tr");
                    var obj = $grid.pqGrid("getRowIndx", { $tr: $tr });
                    var rowIndx = obj.rowIndx;
                    $grid.pqGrid("addClass", { rowIndx: rowIndx, cls: 'pq-row-delete' });

                    var ans = window.confirm("Are you sure to delete row No " + (rowIndx + 1) + "?");

                    if (ans) {
                        $grid.pqGrid("deleteRow", { rowIndx: rowIndx, effect: true, complete: function () {
                            $grid.pqGrid("removeClass", { rowIndx: rowIndx, cls: 'pq-row-delete' });
                        }
                        });
                    }
                    else {
                        $grid.pqGrid("removeClass", { rowIndx: rowIndx, cls: 'pq-row-delete' });
                    }
                });
            },
            cellBeforeSave: function (evt, ui) {	
				/*var validObj = $grid.pqGrid("isValid",{rowIndx:ui.rowIndx,dataIndx:ui.dataIndx,value:ui.newVal});				
                if (!validObj.valid) {
                    evt.preventDefault();
                    return false;
                }*/			
				//console.trace(ui.newVal);
				var isValid = grid.isValid(ui);	
				//console.trace(isValid);
                if (!isValid.valid) {
					//console.trace(grid);
					$grid.find(".pq-editor-focus").css({ "border-color": "red" });
                    //evt.preventDefault();
                    return false;
                }				
            }
		};
        obj.colModel = 
		[
			{ title: "优惠码", editable: false, width: 180, dataType: "string" ,dataIndx: "identify", align: "center"},
			{ title: "类型", width: 68, dataType: "string" ,dataIndx: "type", align: "center",
				render: function (ui) {
					var rowData = ui.rowData; 
					return typeStr[rowData[ui.dataIndx]];
				},
			},
			{ title: "折扣", width: 68, dataType: "integer",dataIndx: "discount", align: "center",			        
				editModel: { keyUpDown: true },
				validations: [
					{ type: 'gte', value: 1, msg: "should be >= 1" },
					{ type: 'lt', value: 100, msg: "should be < 100" }
				],
			},
			{ title: "优惠金额", width: 80, dataType: "integer",dataIndx: "disprice", align: "center" ,		
				editModel: { keyUpDown: true },
				validations: [
					{ type: 'gte', value: 1, msg: "should be >= 1" },
					{ type: 'lte', value: 1000, msg: "should be <= 1000" }
				],
			},
			{ title: "起用时间", width: 100, dataIndx: "starttime", align: "center" ,
				editor: {
		            type: dateEditor
		        },
		        validations: [
                    { type: 'regexp', value: '[0-9]{4}-[0-9]{2}-[0-9]{2}', msg: 'Not in yyyy-mm-dd format' },
					{ type: 'minLen', value: 10, msg: 'length < 10' },
					{ type: 'maxLen', value: 10, msg: 'length > 10' }
                ],
				render: function (ui) {		
					if(ui.rowData[ui.dataIndx]=='')
					{
						return null;					
					}
					return ui.rowData[ui.dataIndx];
				},
			},
			{ title: "截止时间", width: 100, dataIndx: "deadline", align: "center" ,
				editor: {
		            type: dateEditor
		        },
		        validations: [
                    { type: 'regexp', value: '[0-9]{4}-[0-9]{2}-[0-9]{2}', msg: 'Not in yyyy-mm-dd format' },
					{ type: 'minLen', value: 10, msg: 'length < 10' },
					{ type: 'maxLen', value: 10, msg: 'length > 10' }
                ],
				render: function (ui) {
					if(ui.rowData[ui.dataIndx]=='')
					{
						return null;					
					}
					return ui.rowData[ui.dataIndx];
				},
			},
			{ title: "状态", width: 68, dataType: "string",dataIndx: "status", align: "center",
				render: function (ui) {
					var rowData = ui.rowData; 
					return statusStr[rowData[ui.dataIndx]];
				},
			},
			{ title: "使用时间", width: 100, dataIndx: "usetime", align: "center" , //editable : false,
				editor: {
		            type: dateEditor
		        },
		        validations: [
                    { type: 'regexp', value: '[0-9]{4}-[0-9]{2}-[0-9]{2}', msg: 'Not in yyyy-mm-dd format' },
					{ type: 'minLen', value: 10, msg: 'length < 10' },
					{ type: 'maxLen', value: 10, msg: 'length > 10' }
                ],
				render: function (ui) {
					if(ui.rowData[ui.dataIndx]=='')
					{
						return null;					
					}
					return ui.rowData[ui.dataIndx];
				},
			},
			{ title: "起用金额", width: 80, dataType: "string",dataIndx: "overprice", align: "center" },
			{ title: "使用者", editable: false, width: 100, dataType: "float",dataIndx: "user", align: "center",
				render: function (ui) {
					if(ui.rowData[ui.dataIndx]=='')
						ui.rowData[ui.dataIndx]=null;
				},
			},
			{ title: "", editable: false, minWidth: 83, align: "center" , sortable: false, render: function (ui) {
				return "<button type='button' class='delete_btn'>Delete</button>";
				}
			}
		];
        obj.dataModel = //{ data: data0 };
		{                
			dataType: "JSON",
			location: "remote",
			recIndx: "couponid",
			//url: "/pro/products/get", //for ASP.NET
			url: "{:U('get_grid_data')}", //for PHP
			getData: function (response) {
				return { data: response.data };
			}
		};
        var $grid = $("#grid_array").pqGrid(obj);
        var grid = $grid.data("paramquery-pqGrid");		//这里要注意一下官方的demo是错误的
		//var grid = $grid.data();
		//console.trace(grid);		
		
    });     
    </script>
</block>

<block name="stylex">	
	<style type="text/css">	
	.gridcoupon {
	  position:absolute;
	  left:0px;
	  top:40px;
	}
	button.delete_btn
	{
		margin:-3px 0px;
	}
	tr.pq-row-delete
	{
		text-decoration:line-through;         
	}
	tr.pq-row-delete td
	{
		background-color:pink;   
	}
	</style>
</block>

<block name="side">
<!-- 左侧 nav
==================================================
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div> -->
</block>

<block name="body">   	
	<div id="grid_array" class = "gridcoupon" ></div>   
</block>
