<extend name="Base/common"/>

<block name="stylex">
	<script src="__STATIC__/highcharts.js"></script>  
</block>
	
<block name="script">
    <script type="text/javascript">	  
		var days = new Array()
		var today = new Date();

		function GetDateStr(AddDayCount) { 
			var dd = new Date(); 
			dd.setDate(dd.getDate()-AddDayCount);
			var y = dd.getFullYear(); 
			var m = dd.getMonth()+1;//获取当前月份的日期 
			var d = dd.getDate(); 
			return y+"."+m+"."+d; 
		}

		for (i=0;i<7;++i)
		{
			days[i] = GetDateStr(i+1);
		}
		
		$(function() {
			$('#container').highcharts({
				chart: {
					type: 'line'
				},

				title: {
					text: '近7天订单数'
				},

				xAxis: {					
					title: {
					text: '日期'
					},
					categories: [days[6],days[5],days[4],days[3],days[2],days[1],days[0]]
				},


				yAxis: {			
					title: {
					text: '订单数'
					},
		          tickInterval: 1,
				  //maxTickInterval:10,
				  minTickInterval:0, //刻度上允许显示的最小值
				},

				series: [{				
					name: 'order count',
					data: [{$OrderCountRecentWeek[6]}, {$OrderCountRecentWeek[5]}, {$OrderCountRecentWeek[4]},{$OrderCountRecentWeek[3]}, {$OrderCountRecentWeek[2]},{$OrderCountRecentWeek[1]},{$OrderCountRecentWeek[0]}]
					}]

			});

		});
		
		$(function() {
			$('#container2').highcharts({
				chart: {
					type: 'line'
				},

				title: {
					text: '近7天销售额'
				},

				xAxis: {					
					title: {
					text: '日期'
					},
					categories: [days[6],days[5],days[4],days[3],days[2],days[1],days[0]]
				},


				yAxis: {			
					title: {
					text: '销售额（￥）'
					},
				},

				series: [{
					name: 'sales',
					data: [{$SalesRecentWeek[6]}, {$SalesRecentWeek[5]}, {$SalesRecentWeek[4]},{$SalesRecentWeek[3]}, {$SalesRecentWeek[2]},{$SalesRecentWeek[1]},{$SalesRecentWeek[0]}]
					}]

			});

		});
    </script>
</block>

<block name="style">	
	<style type="text/css">	
	.concss {
	  position:absolute;
	  left:495px;
	  top:80px;
	  width:700px;
	  height:300px;
	}
	.concss2 {
	  position:absolute;
	  left:495px;
	  top:422px;
	  width:700px;
	  height:300px;
	}
	</style>
</block>

<block name="side">
<!-- 左侧 nav
==================================================
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div> -->
</block>

<block name="body">   	
		<!-- 近7天订单数 -->
		<div class = "concss" id="container"></div>	  

		<!-- 近7天销售额 -->
		<div class = "concss2" id="container2"></div>
</block>
