body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u989 {
  position:absolute;
  left:279px;
  top:100px;
  width:1140px;
  height:40px;
  text-align:left;
}
#u990 {
  position:absolute;
  left:2px;
  top:10px;
  width:1136px;
  word-wrap:break-word;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1140px;
  height:740px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u991 {
  position:absolute;
  left:279px;
  top:140px;
  width:1140px;
  height:740px;
}
#u992 {
  position:absolute;
  left:2px;
  top:362px;
  width:1136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u993 {
  position:absolute;
  left:610px;
  top:260px;
  width:70px;
  height:16px;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u995 {
  position:absolute;
  left:680px;
  top:250px;
  width:200px;
  height:28px;
}
#u995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u995_input {
  font-family:'应用字体';
}
#u995_input:disabled {
  color:grayText;
}
#u995_ann {
  position:absolute;
  left:873px;
  top:246px;
  width:1px;
  height:1px;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:610px;
  top:310px;
  width:70px;
  height:16px;
}
#u997 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u998 {
  position:absolute;
  left:681px;
  top:302px;
  width:199px;
  height:28px;
}
#u999 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1000 {
  position:absolute;
  left:610px;
  top:356px;
  width:70px;
  height:16px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:611px;
  top:433px;
  width:70px;
  height:16px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1004 {
  position:absolute;
  left:681px;
  top:430px;
  width:81px;
  height:28px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1006 {
  position:absolute;
  left:780px;
  top:442px;
  width:60px;
  height:16px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008 {
  position:absolute;
  left:610px;
  top:494px;
  width:71px;
  height:16px;
}
#u1009 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1010 {
  position:absolute;
  left:683px;
  top:492px;
  width:79px;
  height:26px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:5px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  position:absolute;
  left:610px;
  top:560px;
  width:71px;
  height:16px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:683px;
  top:555px;
  width:197px;
  height:26px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:5px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:581px;
  top:611px;
  width:91px;
  height:16px;
}
#u1017 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1018 {
  position:absolute;
  left:682px;
  top:606px;
  width:198px;
  height:26px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:5px;
  width:194px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:578px;
  top:668px;
  width:91px;
  height:16px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u1022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1022 {
  position:absolute;
  left:682px;
  top:660px;
  width:428px;
  height:90px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:37px;
  width:424px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024 {
  position:absolute;
  left:660px;
  top:830px;
  width:90px;
  height:25px;
}
#u1024_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1024_input {
  font-family:'应用字体';
}
#u1025 {
  position:absolute;
  left:800px;
  top:830px;
  width:80px;
  height:25px;
}
#u1025_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1025_input {
  font-family:'应用字体';
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:780px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1028 {
  position:absolute;
  left:50px;
  top:101px;
  width:229px;
  height:780px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:382px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1030 {
  position:absolute;
  left:50px;
  top:101px;
  width:229px;
  height:75px;
  font-size:16px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1032 {
  position:absolute;
  left:50px;
  top:250px;
  width:229px;
  height:75px;
  font-size:16px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1034 {
  position:absolute;
  left:50px;
  top:176px;
  width:229px;
  height:75px;
  font-size:16px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1036 {
  position:absolute;
  left:50px;
  top:400px;
  width:229px;
  height:75px;
  font-size:16px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1038 {
  position:absolute;
  left:50px;
  top:325px;
  width:229px;
  height:75px;
  font-size:16px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1040 {
  position:absolute;
  left:50px;
  top:475px;
  width:229px;
  height:75px;
  font-size:16px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1042 {
  position:absolute;
  left:50px;
  top:550px;
  width:229px;
  height:75px;
  font-size:16px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:28px;
  width:225px;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:50px;
  top:40px;
  width:1370px;
  height:61px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:22px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1046 {
  position:absolute;
  left:61px;
  top:65px;
  width:260px;
  height:22px;
  font-size:18px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:21px;
}
#u1049 {
  position:absolute;
  left:1286px;
  top:68px;
  width:18px;
  height:21px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1051 {
  position:absolute;
  left:1293px;
  top:60px;
  width:15px;
  height:15px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1051_ann {
  position:absolute;
  left:1301px;
  top:56px;
  width:1px;
  height:1px;
}
#u1053 {
  position:absolute;
  left:1052px;
  top:99px;
  width:265px;
  height:120px;
  overflow:hidden;
  visibility:hidden;
}
#u1053_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:120px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1053_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1054 {
  position:absolute;
  left:2px;
  top:0px;
  width:268px;
  height:30px;
  text-align:left;
}
#u1055 {
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u1056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1056 {
  position:absolute;
  left:0px;
  top:30px;
  width:263px;
  height:30px;
  text-align:left;
}
#u1057 {
  position:absolute;
  left:2px;
  top:7px;
  width:259px;
  word-wrap:break-word;
}
#u1056_ann {
  position:absolute;
  left:256px;
  top:26px;
  width:1px;
  height:1px;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1058 {
  position:absolute;
  left:0px;
  top:55px;
  width:263px;
  height:30px;
  text-align:left;
}
#u1059 {
  position:absolute;
  left:2px;
  top:7px;
  width:259px;
  word-wrap:break-word;
}
#u1058_ann {
  position:absolute;
  left:256px;
  top:51px;
  width:1px;
  height:1px;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1060 {
  position:absolute;
  left:0px;
  top:85px;
  width:263px;
  height:30px;
  text-align:left;
}
#u1061 {
  position:absolute;
  left:2px;
  top:7px;
  width:259px;
  word-wrap:break-word;
}
#u1060_ann {
  position:absolute;
  left:256px;
  top:81px;
  width:1px;
  height:1px;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:20px;
}
#u1063 {
  position:absolute;
  left:1318px;
  top:65px;
  width:19px;
  height:20px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1065 {
  position:absolute;
  left:1339px;
  top:69px;
  width:40px;
  height:16px;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u1067 {
  position:absolute;
  left:1380px;
  top:74px;
  width:20px;
  height:13px;
  font-size:10px;
  color:#999999;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u1069 {
  position:absolute;
  left:1320px;
  top:103px;
  width:75px;
  height:60px;
  overflow:hidden;
}
#u1069_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1069_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1069_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:60px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1069_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071 {
  position:absolute;
  left:-5px;
  top:30px;
  width:80px;
  height:30px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1073 {
  position:absolute;
  left:-5px;
  top:0px;
  width:80px;
  height:30px;
}
#u1074 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:70px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1075 {
  position:absolute;
  left:50px;
  top:252px;
  width:230px;
  height:70px;
  font-size:16px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:26px;
  width:226px;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:66px;
}
#u1077 {
  position:absolute;
  left:682px;
  top:343px;
  width:142px;
  height:65px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:24px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:65px;
}
#u1079 {
  position:absolute;
  left:682px;
  top:343px;
  width:142px;
  height:65px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:24px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
