<extend name="Base/common"/>

<block name="stylex">
</block>
	
<block name="script">
    <script type="text/javascript">	  
	
    $(function () {
		//document.write({$totalgoods[3]['goodsid']});
		var datafromcontroller = <?php echo json_encode($totalbuyer)?>;
		//console.trace(datafromcontroller.length);
		var countoforder = datafromcontroller.length;// count({$totalgoods});
		var data = new Array(countoforder);
		var typeStr = ['线上','线下'];
		var statusStr = ['等待付款','等待发货','发货中','已收货待确认收货','确认收货待评价','已确认评价'];
		for(i = 0 ; i < countoforder; ++i)
		{
			var newDate = new Date();
			data[i] = new Array();			
			newDate.setTime(datafromcontroller[i].createtime*1000);
			data[i][0] = datafromcontroller[i].name;
			data[i][1] = datafromcontroller[i].phone;
			data[i][2] = datafromcontroller[i].address;
			data[i][3] = 0;
			data[i][4] = datafromcontroller[i].gold;
			data[i][5] = datafromcontroller[i].level;
		}
		//data[0].push(1, 'Exxon Mobil', '339,938.0', '36,130.0');
		//data[1] = new array();
		//data[1] = [1, 'Exxon Mobil', '339,938.0', '36,130.0'];
        //var data = [[1, 'Exxon Mobil', '339,938.0', '36,130.0'],
        //    [2, 'Wal-Mart Stores', '315,654.0', '11,231.0']];

        var obj = { 
			width: 1200,
			height: 600,
			title: "订单列表",
			resizable:false,
			draggable:false 
		};
		
        obj.colModel = 
		[
			{ title: "姓名", width: 140, dataType: "string" , align: "center"},
			{ title: "联系方式", width: 120, dataType: "string" , align: "center"},
			{ title: "收货地址", width: 100, dataType: "string", align: "center" },
			{ title: "成交订单数", width: 80, dataType: "integer", align: "center"},
			{ title: "金币数", width: 80, dataType: "integer", align: "center" },
			{ title: "账号等级", width: 120, dataType: "string", align: "center"},
		];
        obj.dataModel = { data: data };
        $("#grid_array").pqGrid(obj);

    });       
    </script>
</block>

<block name="stylex">	
	<style type="text/css">	
	.gridcss {
	  position:absolute;
	  left:0px;
	  top:40px;
	}
	</style>
</block>

<block name="side">
<!-- 左侧 nav
==================================================
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
            {:W('Category/lists', array(1, true))}
        </ul>
    </div> -->
</block>

<block name="body">   	
	<div id="grid_array" class = "gridcss" ></div>   
</block>
